body{
    align-content: center;
    width: 50%;
}

#shoppingCart{
    background-color: white;
    width: 100%;
    padding-inline-start: 33%;

}

#cartTop{
    background-color: #f5a623;
    color: #a76a05;
}

#productsList{
    color: #4a4a4a;
    width: 80%;
    padding-inline-start: 10%;

}

.productDesc{
    color: #dcdcdc;
}

#subtotal{
    color: #4a4a4a; 
}